@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
body {
    background-color: blue;
}
.container {
    display: inline-block;
    width: 60%;
    height: auto;
    background-color: aliceblue;
    margin: 4rem 0;
    justify-content: center;
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.search {
    width: auto;
    font-family: 'Roboto', sans-serif;
}